<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <title>DRC</title>
        </head>
        <body>
            <form  method="POST" action="">{% csrf_token %}
                <label>Phone Number</label>
                <input type="number" id="Phonenumber" name="Phonenumber">
                <br><br>
                <button type="submit">Get OTP</button>
            </form>
            {% if userphonenumbermessage %}
                <p>Phone Number is not valid</p>
            {% endif %}
        </body>
    </html>